head
	title Festival EKlore des Talents et de l'Emploi : festivaleklore.fr
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	meta(name="google-site-verification" content="p4MtkG3Oo_YOsQlGnl-zHYgkBg7nUP8vv1TeAzZ74Jk")
	meta(name="description" content="Dans un monde du travail à bout de souffle, nous souhaitons nous offrir un bol d’air. Un rendez­-vous festif pour nous retrouver, nous, acteurs de l’emploi, décideurs et talents. Rejoindre un réseau social réel et humain pour échanger, révéler et célébrer toute la richesse des talents et des solutions à l’emploi existantes ou à venir")
	meta(name="generator" content="Meteor")
	meta(name="author" content="Association EKlore")
	script(type="application/ld+json").
		{
			"@context": "http://schema.org",
			"@type": "Festival",
			"name": "Festival EKlore des Talents et de l'Emploi",
			"url": "http://festivaleklore.fr/",
			"director": "Solenn Thomas",
			"doorTime": "2016-10-03T08:30-02:00",
			"startDate": "2016-10-03T10:00-02:00",
			"endDate": "2016-10-03T23:30-02:00",
			"duration": "P1D",
			"funder": "Solenn Thomas",
			"inLanguage": "fr-FR",
			"image": "http://festivaleklore.fr/pictures/banniere.jpg",
			"isAccessibleForFree": false,
			"location": {
				"@type": "PostalAddress",
				"addressCountry": "France",
				"addressLocality": "Paris",
				"postalCode": "75019",
				"streetAddress": "30 Avenue Corentin Cariou"
			},
			"organizer": "EKlore",
			"description": "Dans un monde du travail à bout de souffle, nous souhaitons nous offrir un bol d’air. Un rendez­-vous festif pour nous retrouver, nous, acteurs de l’emploi, décideurs et talents. Rejoindre un réseau social réel et humain pour échanger, révéler et célébrer toute la richesse des talents et des solutions à l’emploi existantes ou à venir."
		}