template(name="deprecated")
	if deprecated
		a.btn.btn-danger(role="button" href="#")
			span.glyphicon.glyphicon-remove(aria-hidden="true")
	else
		a.btn.btn-success(role="button" href="#")
			span.glyphicon.glyphicon-ok(aria-hidden="true")