template(name="partners")
	.jumbotron.blue2
		h3.text-center.text-uppercase {{_ "ourPartners"}}
	.container
		h2.text-center.marg-bot-50.text-uppercase Partenaires principaux de la FETE
		.row(style="display:flex; flex-wrap: wrap;")
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/pictures/cite_des_metiers.jpeg" alt="La Cité des Métiers")
					.caption
						h4.text-center La Cité des Métiers
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/pictures/pole_emploi.jpeg" alt="pôle emploi")
					.caption
						h4.text-center pôle emploi
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/pictures/talentsoft.jpeg" alt="Talentsoft")
					.caption
						h4.text-center Talentsoft
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/pictures/groupe_ferrein.jpeg" alt="Groupe Ferrein RH")
					.caption
						h4.text-center Groupe Ferrein RH
	.container-fluid.grey2
		.container
			h2.text-center.marg-bot-50.text-uppercase Partenaires soutiens de la FETE
			.row(style="display:flex; flex-wrap: wrap;")
				.col-xs-6.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.partnerPicture(src="/pictures/mairie_de_paris_test.jpeg" alt="Mairie de Paris")
						.caption
							h4.text-center Mairie de Paris
				.col-xs-6.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.partnerPicture(src="/pictures/idf.png" alt="Île de France")
						.caption
							h4.text-center Île de France
				.col-xs-6.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.partnerPicture(src="/pictures/defistival.png" alt="Défistival")
						.caption
							h4.text-center Défistival
	.container
		h2.text-center.marg-bot-50.text-uppercase Partenaires de la programmation de la FETE
		.row(style="display:flex; flex-wrap: wrap;")
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/ashoka.png" alt="Ashoka")
					.caption
						h4.text-center Ashoka
						p.text-center
							em Univers Travail de Demain
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/audace.gif" alt="Audace")
					.caption
						h4.text-center Audace
						p.text-center
							em Univers Entrepreneuriat
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/capsaaa.png" alt="CapSaaa")
					.caption
						h4.text-center CapSaaa
						p.text-center
							em Univers Personnes Extra-ordinaires
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/startisanat.jpg" alt="Startisanat")
					.caption
						h4.text-center Startisanat
						p.text-center
							em Univers Art et Artisanat
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/ticket_for_change.png" alt="Ticket For Change")
					.caption
						h4.text-center Ticket For Change
						p.text-center
							em Univers Sens
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/taonity_project.jpg" alt="Taonity Project")
					.caption
						h4.text-center Taonity Project
						p.text-center
							em Univers Personnes Extra-ordinaires
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/whire.png" alt="Whire")
					.caption
						h4.text-center Whire
						p.text-center
							em Univers Salariat
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				.thumbnail
					img.partnerPicture(src="/partners/workup.png" alt="WorkUp")
					.caption
						h4.text-center WorkUp
						p.text-center
							em Univers Reconversion
	.container-fluid.grey2
		.container
			h2.text-center.marg-bot-50.text-uppercase Partenaires médias de la FETE
			.row(style="display:flex; flex-wrap: wrap;")
				.col-xs-6.col-sm-4.col-md-3.col-lg-3
					.thumbnail
						img.partnerPicture(src="/pictures/socialter.png" alt="Socialter")
						.caption
							h4.text-center Socialter
				.col-xs-6.col-sm-4.col-md-3.col-lg-3
					.thumbnail
						img.partnerPicture(src="/pictures/psycho_pos.png" alt="Psychologie Positive")
						.caption
							h4.text-center Psychologie Positive
				.col-xs-6.col-sm-4.col-md-3.col-lg-3
					.thumbnail
						img.partnerPicture(src="/pictures/rh_info.png" alt="RH Info")
						.caption
							h4.text-center RH Info
				.col-xs-6.col-sm-4.col-md-3.col-lg-3
					.thumbnail
						img.partnerPicture(src="/pictures/le_monde_moderne.png" alt="Le Monde Moderne")
						.caption
							h4.text-center Le Monde Moderne