template(name="changeQuestion")
	.row
		.col-xs-6.hidden-sm.hidden-md.hidden-lg
			button.btn-block.btn-lg.previousQuestion.btn.btn-warning(type="button") {{_ "previous"}}
		.col-xs-6.hidden-sm.hidden-md.hidden-lg
			button.btn-block.btn-lg.nextQuestion.btn.btn-success(type="button") {{_ "next"}}
		.hidden-xs.col-sm-6.col-md-6.col-lg-6
			button.btn-block.btn-lg.previousQuestion.btn.btn-warning(type="button") {{_ "previousQuestion"}}
		.hidden-xs.col-sm-6.col-md-6.col-lg-6
			button.btn-block.btn-lg.nextQuestion.btn.btn-success(type="button") {{_ "nextQuestion"}}