template(name="changeQuestion")
	.row
		.col.s6.left-align
			a.previousQuestion.waves-effect.waves-light.btn Question précédente
		.col.s6.right-align
			a.nextQuestion.waves-effect.waves-light.btn Question suivante