template(name="questions")
	.container
		div(class="#{question0}")
			h3 Qui suis-je administrativement ?
			form
				.form-group
					label(for="first_name") First Name
					input#first_name(type="text")
				.form-group
					label(for="last_name") Last Name
					input#last_name(type="text")
				.form-group
					label(for="password") Password
					input#password(type="password")
				.form-group
					label(for="email") Email
					input#email(type="email")
				+changeQuestion
		div(class="#{question1}")
			h3 Qui suis-je maintenant ?
			form
				.form-group
						select
							option(value='0' disabled selected) Choisissez parmi la liste      
							option(value='1') Salarié       
							option(value='2') Chômeur      
							option(value='3') Etudiant
							option(value='3') Autre
						label Quel est mon occupation actuelle 
				+changeQuestion