template(name="question0")
	.panel.panel-default
		.panel-heading
			.panel-title
				h2 {{_ "whoAmI"}}
		.panel-body
			form.form-horizontal
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="first_name") {{_ "firstName"}}
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#firstName.form-control.input-lg(type="text")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="last_name") {{_ "lastName"}}
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#lastName.form-control.input-lg(type="text")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="email") {{_ "email"}}
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#email.form-control.input-lg(type="email")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="password") {{_ "password"}}
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#password.form-control.input-lg(type="password")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="confirmPassword") {{_ "confirmPassword"}}
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#confirmPassword.form-control.input-lg(type="password")
		.panel-footer
			+changeQuestion(hide=false)

template(name="question0ErrorFirstName")
	span.question0ErrorFirstName.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
	span.question0ErrorFirstName.help-block {{_ "firstNameMandatory"}}

template(name="question0OKFirstName")
	span.question0OKFirstName.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")

template(name="question0ErrorLastName")
	span.question0ErrorLastName.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
	span.question0ErrorLastName.help-block {{_ "lastNameMandatory"}}

template(name="question0OKLastName")
	span.question0OKLastName.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")

template(name="question0ErrorEmail")
	span.question0ErrorEmail.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
	span.question0ErrorEmail.help-block {{_ "emailMandatory"}}

template(name="question0OKEmail")
	span.question0OKEmail.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")

template(name="question0ErrorPassword")
	span.question0ErrorPassword.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
	span.question0ErrorPassword.help-block {{_ "passwordErrorLength"}}

template(name="question0OKPassword")
	span.question0OKPassword.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")

template(name="question0ErrorConfirmPassword")
	span.question0ErrorConfirmPassword.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
	span.question0ErrorConfirmPassword.help-block {{_ "confirmPasswordDifferentPassword"}}

template(name="question0OKConfirmPassword")
	span.question0OKConfirmPassword.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden="true")