template(name="question0")
	.panel.panel-default
		.panel-heading
			.panel-title
				h2 Qui suis-je administrativement ?
		.panel-body
			form.form-horizontal
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="first_name") Prénom
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#firstName.form-control.input-lg(type="text")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="last_name") Nom de famille
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#lastName.form-control.input-lg(type="text")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="email") Email
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#email.form-control.input-lg(type="email")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="password") Mot de passe
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#password.form-control.input-lg(type="password")
				.form-group.form-group-lg
					label.col-xs-3.col-sm-2.col-md-2.col-lg-2.control-label(for="confirmPassword") Confirmez votre mot de passe
					.col-xs-9.col-sm-10.col-md-10.col-lg-10
						input#confirmPassword.form-control.input-lg(type="password")
		.panel-footer
			+changeQuestion