template(name="editDisplayType")
	if displayTypeIsText
		.radio
			label
				input(type="radio" name="displayType" value="text" checked)
				| {{_ "displayTypeText"}}
		.radio
			label
				input(type="radio" name="displayType" value="picture")
				| {{_ "displayTypePicture"}}
	else
		.radio
			label
				input(type="radio" name="displayType" value="text")
				| {{_ "displayTypeText"}}
		.radio
			label
				input(type="radio" name="displayType" value="picture" checked)
				| {{_ "displayTypePicture"}}