template(name="progressBar")
	.progress
		.progress-bar.progress-bar-info.progress-bar-striped.active(role='progressbar', aria-valuenow='#{value}', aria-valuemin='0', aria-valuemax='100', style='width: #{value}%')