@import "bootstrap-datetimepicker.css"
@import "spectrum.css"

@font-face
    font-family '__Baronessa_5'
    src url('/fonts/320dda_0_0.eot')
    src local('☺'), url('/fonts/320dda_0_0.woff') format('woff')
    font-weight 400
    font-style normal

h1, h2, h3, h4, h5, h6
	font-family '__Baronessa_5'

.navbar
	min-height 95px

.navbar-default
	.navbar-brand
		font-family '__Baronessa_5'
		font-size 30px
		color #FCE538
		line-height 10px
		img
			max-width 225px
.collapse.navbar-collapse
	height 95px !important
	ul
		margin-top 22px

.collapse.navbar-collapse.in
	margin-top 35px

.navbar-header
	button
		margin-top 22px

#forgot-password-link, #signup-link
	color #337ab7

.navbar
	margin-bottom 0px

#map
	min-height 350px
	min-width 100%
	margin-bottom 20px

.date
	margin 0 0 20px 0

.volunteers
	margin 20px 0 0 0

.circle
	border-radius 50px
	font-size 20px
	color #FFFFFF
	text-align center
.vcenter
	display inline-block
	vertical-align middle
	float none
.seeUniverses
	margin 0 0 20px 0
#cityMapperButton
	margin 10px 0 0 0
.partnerPicture
	max-height 200px
.universePartnersPicture
	max-height 350px
.no-padd
	padding-left 0px
	padding-right 0px

.blue1
	background-color #6F9DD9
.blue2
	background-color #B7D5F6
	color #FFFFFF
.blue3
	background-color #588AD1
.grey1
	background-color #5B5B5B
.grey2
	background-color #F5F5F5

.feteTitle
	font-size 32px

.marg-bot-50
	margin-bottom 50px
.marg-bot-30
	margin-bottom 30px
.marg-bot-20
	margin-bottom 20px
.marg-bot-10
	margin-bottom 10px

.btn-eklore
	background-color #6F9DD9
	border-radius 12px
	color #FFFFFF
	padding 10px 20px
	font-family '__Baronessa_5'
	line-height 10px
	font-size 20px
.btn-eklore-danger
	font-family '__Baronessa_5'
	background-color #D9534F
	border-radius 12px
	color #FFFFFF
	padding 10px 20px
	line-height 10px
	font-size 20px

.marg-20
	margin 20px
.marg-30
	margin 30px

.thumbnail
	border 0px
	background-color inherit

.img-logo
	width 100%
.img-small-logo
	max-height 150px
	max-width 100%

.marg-top-20
	margin-top 20px
.marg-top-10
	margin-top 10px
.createNewUser, .userLogIn
	margin-bottom 20px
.padd-bot-20
	padding-bottom 20px
.padd-top-20
	padding-top 20px