@import "bootstrap-datetimepicker.css"
@import "spectrum.css"

body
	padding 60px 0 20px 0
	.navbar-brand
		font-size 24px
	#map
		min-height 250px
		min-width 100%
	.date
		margin 0 0 20px 0
	.volunteers
		margin 20px 0 0 0
	.circle
		border-radius 50px
		font-size 20px
		color #fff
		text-align center
	.vcenter
		display inline-block
		vertical-align middle
		float none
	.seeUniverses
		margin 0 0 20px 0
	#cityMapperButton
		margin 10px 0 0 0
	.partnerPicture
		max-height 200px
	.universePartnersPicture
		max-height 350px