@import "bootstrap-datetimepicker.css"
@import "spectrum.css"

.navbar-default
	.navbar-brand
		font-size 24px
		color #FFFFFF
	.navbar-nav
		li
			a
				color #FFFFFF
#forgot-password-link, #signup-link
	color #337ab7
.navbar
	margin-bottom 0px
#login-dropdown-list
	.dropdown-toggle
		color #FFFFFF
#map
	min-height 350px
	min-width 100%
	margin-bottom 20px
.date
	margin 0 0 20px 0
.volunteers
	margin 20px 0 0 0
.circle
	border-radius 50px
	font-size 20px
	color #FFFFFF
	text-align center
.vcenter
	display inline-block
	vertical-align middle
	float none
.seeUniverses
	margin 0 0 20px 0
#cityMapperButton
	margin 10px 0 0 0
.partnerPicture
	max-height 200px
.universePartnersPicture
	max-height 350px
.blue1
	background-color #6F9DD9
.blue2
	background-color #B7D5F6
	color #FFFFFF
.grey1
	background-color #5B5B5B
.grey2
	background-color #F5F5F5
.feteTitle
	font-size 32px
.marg-bot-50
	margin-bottom 50px
.marg-bot-30
	margin-bottom 30px
.marg-bot-20
	margin-bottom 20px
.marg-bot-10
	margin-bottom 10px
.btn-eklore
	background-color #6F9DD9
	border-radius 12px
	color #FFFFFF
	padding 10px 20px
.btn-eklore-danger
	background-color #D9534F
	border-radius 12px
	color #FFFFFF
	padding 10px 20px
.marg-20
	margin 20px
.marg-30
	margin 30px
.thumbnail
	border 0px
	background-color inherit
.img-logo
	max-height 300px
	max-width 100%
.img-small-logo
	max-height 150px
	max-width 100%
.marg-top-20
	margin-top 20px
.marg-top-10
	margin-top 10px
.createNewUser, .userLogIn
	margin-bottom 20px
.padd-bot-20
	padding-bottom 20px
.padd-top-20
	padding-top 20px