template(name="admin")
	.container
		if currentUser
			if isAdmin
				div#accordion.panel-group(role="tablist" aria-multiselectable="true")
					+listUniverses
					+listWorkshops
					+listQuestionsGroups
					+listEkloreQuestions
			else
				h1 {{_ "circulateThereIsNothingToSee"}}
		else
			h1 {{_ "circulateThereIsNothingToSee"}}