template(name="admin")
	.container
		if isAdmin
			div#accordion.panel-group(role="tablist" aria-multiselectable="true")
				+listUniverses
				+listWorkshops
				+listQuestionsGroups
		else
			h1 {{_ "circulateThereIsNothingToSee"}}