template(name="map")
	.panel.panel-default
		.panel-heading
			p.panel-title {{_ "feteLocation"}}
		.panel-body
			#map
			p#cityMapperButton
				a(href='https://citymapper.com/go/m1zr64' target="_blank")
					img(src="https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png" alt="Get directions with Citymapper")