template(name="header")
	nav.nav-wrapper
		.container
			a.brand-logo(href="{{pathFor 'home'}}") {{_ "eklore"}}
			ul#nav-mobiel.right.hide-on-med-and-down
				li
					a(href="{{pathFor 'myProfile'}}") {{_ "myProfile"}}
				li
					+loginButtons
			a.button-collapse(href="#" data-activates="nav-mobile")
				i.mdi-navigation-menu
