template(name="home")
	.container
		h1 {{_ "eklore"}}
		if currentUser
			a.btn.btn-primary(href="{{pathFor 'myProfile'}}" role="button") {{_ "createMyProfile"}}
		else
			a.btn.btn-primary(href="{{pathFor 'signUpSignIn'}}" role="button") {{_ "signUpSignIn"}}