template(name="connectButton")
	if currentUser
		button#disconnect.newFont.btn.btn-eklore-danger.navbar-btn(type="button") Déconnection
	else
		button#connect.btn.btn-eklore.navbar-btn(type="button") Connectes-toi