template(name="newQuestionsGroup")
	.container
		.panel.panel-default
			.panel-heading
				h3 {{_ "addNewQuestionsGroup"}}
			.panel-body
				form
					.form-group
						label(for="questionsGroupTitle") {{_ "questionsGroupTitle"}}
						input#questionsGroupTitle.form-control(type="text")
					.form-group
						label(for="questionsGroupLabel") {{_ "questionsGroupLabel"}}
						textarea#questionsGroupLabel.form-control(rows="3")
					.form-group
						label(for="questionsGroupLevel") {{_ "questionsGroupLevel"}}
						input#questionsGroupLevel.form-control(type="number" min="2" max="100" step="1" value="2")
			.panel-footer
				.row
					.col-xs-6.col-sm-6.col-md-6.col-lg-6
						a.btn.btn-danger.btn-block(role="button" href="{{pathFor 'listQuestionsGroups'}}") {{_ "cancel"}}
					.col-xs-6.col-sm-6.col-md-6.col-lg-6
						button#addQuestionsGroup.btn.btn-success.btn-block {{_ "validate"}}