template(name="admin")
	if currentUser
		if isAdmin
			p
				a.btn.btn-default(role="button" href="{{pathFor 'listUniverses'}}") {{_ "listUniverses"}}
				a.btn.btn-primary(role="button" href="{{pathFor 'listWorkshops'}}") {{_ "listWorkshops"}}
				a.btn.btn-info(role="button" href="{{pathFor 'listQuestionsGroups'}}") {{_ "listQuestionsGroups"}}
				a.btn.btn-danger(role="button" href="{{pathFor 'listEkloreQuestions'}}") {{_ "listEkloreQuestions"}}
				a.btn.btn-success(role="button" href="{{pathFor 'listPartners'}}") {{_ "listPartners"}}
				a.btn.btn-warning(role="button" href="{{pathFor 'listVolunteers'}}") {{_ "listVolunteers"}}
		else
			h1 {{_ "circulateThereIsNothingToSee"}}
	else
		h1 {{_ "circulateThereIsNothingToSee"}}