template(name="admin")
	if currentUser
		if isAdmin
			#accordion.panel-group(role="tablist" aria-multiselectable="true")
				+listUniverses
				+listWorkshops
				+listQuestionsGroups
				+listEkloreQuestions
		else
			h1 {{_ "circulateThereIsNothingToSee"}}
	else
		h1 {{_ "circulateThereIsNothingToSee"}}