template(name="admin")
	if currentUser
		if isAdmin
			ul.nav.nav-pills.nav-stacked
				li(role="presentation")
					a(href="{{pathFor 'listUniverses'}}") {{_ "listUniverses"}}
				li(role="presentation")
					a(href="{{pathFor 'listWorkshops'}}") {{_ "listWorkshops"}}
				li(role="presentation")
					a(href="{{pathFor 'listQuestionsGroups'}}") {{_ "listQuestionsGroups"}}
				li(role="presentation")
					a(href="{{pathFor 'listEkloreQuestions'}}") {{_ "listEkloreQuestions"}}
				li(role="presentation")
					a(href="{{pathFor 'listPartners'}}") {{_ "listPartners"}}
				li(role="presentation")
					a(href="{{pathFor 'listVolunteers'}}") {{_ "listVolunteers"}}
				li(role="presentation")
					a(href="{{pathFor 'listUsers'}}") {{_ "listUsers"}}
		else
			h1 {{_ "circulateThereIsNothingToSee"}}
	else
		+connect