template(name="newEkloreQuestion")
	.container
		.panel.panel-default
			.panel-heading
				h3 {{_ "addNewEkloreQuestion"}}
			.panel-body
				form
					.form-group
						label(for="EkloreQuestionTitle") {{_ "ekloreQuestionTitle"}}
						input#EkloreQuestionTitle.form-control(type="text")
					.form-group
						label(for="ekloreQuestionLevel") {{_ "ekloreQuestionLevel"}}
						input#ekloreQuestionLevel.form-control(type="number" min="2" max="100" step="1" value="2")
					.radio
						label
							input(type="radio" name="displayType" value="text" checked)
							| {{_ "text"}}
					.radio
						label
							input(type="radio" name="displayType" value="picture")
							| {{_ "picture"}}
				.panel.panel-default
					.panel-heading
						h4 Univers
					.panel-body
						each universes
							.panel.panel-default
								.panel-heading
									p.panel-title #{name}
								.panel-body
									form.form-inline.addUniverseToEkloreQuestion
										.form-group
											label(for="matchingPower") {{_ "matchingPower"}}
											input.matchingPower.form-control(type="number" placeholder="0.01" min="0.01" max="1" step="0.01")
										button.btn.btn-success(type="submit") {{_ "add"}}
			.panel-footer
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						a.btn.btn-danger.btn-block(role="button" href="{{pathFor 'admin'}}") {{_ "cancel"}}
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						button#addQuestionsGroup.btn.btn-success.btn-block {{_ "validate"}}