template(name="home")
	.container-fluid.blue2
		.container
			img.center-block.img-logo(src="/pictures/logo.png" alt="{{_ 'feteAcronym'}}")
			h3.text-center.marg-bot-20
				strong {{_ 'feteAcronym'}}
	.container.marg-top-20
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2.text-center.feteTitle.marg-bot-30.text-uppercase {{_ "presentationFete"}}
				p.text-justify {{_ "fetePresentation1"}}
				p.text-justify {{_ "fetePresentation2"}}
				p.text-justify {{_ "fetePresentation3"}}
				.row
					.col-xs-6.col-sm-6.col-md-6.col-lg-6
						p.text-center
							a.btn.btn-eklore.marg-bot-10.marg-top-10(role="button" href="{{pathFor 'aboutFete'}}") {{_ "moreInfos"}}
					.col-xs-6.col-sm-6.col-md-6.col-lg-6
						p.text-center
							a.btn.btn-eklore.marg-bot-10.marg-top-10(role="button" href="{{pathFor 'aboutEklore'}}") {{_ "aboutEklore"}}
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				iframe(width="100%" height="300" src="https://www.youtube.com/embed/CSMT4OL3HgA" frameborder="0" allowfullscreen)
		p.text-center
			.row
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					p.text-center
						a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					p.text-center
						if currentUser
							a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'myProfile'}}") {{_ "completeYourProfile"}}
						else
							a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'myProfile'}}") {{_ "createYourProfile"}}
	.container-fluid.grey2
		h2.text-center.feteTitle.marg-bot-30.text-uppercase {{_ "localisationAndSchedule"}}
		.container
			.row
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					address
						strong {{_ "fete"}} {{_ "eklore"}}
						br
						| Cité des Métiers
						br
						| 30 Avenue Corentin Cariou
						br
						| 75019 Paris
					address
						strong {{_ "dateFete"}}
						br
						| {{_ "hourFete"}}
					address
						strong {{_ "contact"}}
						br
						a(href="mailto:contact@eklore.fr") contact@eklore.fr
					p
						a.btn.btn-eklore.marg-bot-10(role="button" target="blank" href="https://www.weezevent.com/festival-eklore-des-talents-et-de-l-emploi") {{_ "linkTicketing"}}
					p.text-justify {{_ "praticalInfos1"}}
					p.text-justify {{_ "praticalInfos2"}}
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					+map
	.container
		+majorPartners
		p.text-center
			a.btn.btn-eklore.marg-bot-20(role="button" href="{{pathFor 'partners'}}") {{_ "seeAllOurPartners"}}
	+volunteers
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.thumbnail
					img(src="/pictures/day_program.png" alt="Programme de la journée")