template(name="aboutEklore")
	.page-header
		h1 {{_ "eklorePresentationTitle"}}
	section
		p {{_ "eklorePresentation1"}}
	section
		p {{_ "eklorePresentation2"}}
	section
		p {{_ "eklorePresentation3"}}
		p {{_ "eklorePresentation3Demi"}}
	blockquote
		p {{_ "quote2"}}
		footer {{_ "quote2Source"}}
	section
		p {{_ "eklorePresentation4"}}
	section
		p {{_ "eklorePresentation5"}}
	blockquote
		p {{_ "quote3"}}
		footer {{_ "quote3Source"}}
	section
		a.btn.btn-default.btn-block(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
		if currentUser
			a.btn.btn-warning.btn-block(role="button" href="{{pathFor 'myProfile'}}") {{_ "completeYourProfile"}}
		else
			a.btn.btn-primary.btn-block(role="button" href="{{pathFor 'myProfile'}}") {{_ "createYourProfile"}}