template(name = "seeUniverses")
	each universes
		.panel.panel-default
			.panel-heading
				h4 #{name}
			.panel-body
				p #{label}
				.panel.panel-default
					.panel-heading
						p.panel-title {{_ "workshopsLinkedWithUniverse"}}
					.panel-body
						.row
							each workshops
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.panel.panel-default
										.panel-heading
											h3.panel-title #{name}
										.panel-body
											p #{description}
											a.btn.btn-primary(role="button" href="{{pathFor 'workshopDetails'}}") {{_ "moreInformations"}}