template(name="majorPartners")
	h2.text-center.marg-bot-50.text-uppercase Partenaires principaux de la FETE
	.row(style="display:flex; flex-wrap: wrap;")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/cite_des_metiers.jpg" alt="La Cité des Métiers")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/pole_emploi.jpeg" alt="pôle emploi")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/talentsoft.svg" alt="Talentsoft")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/groupe_ferrein.jpeg" alt="Groupe Ferrein RH")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/mairie_de_paris_test.jpeg" alt="Mairie de Paris")
		.col-xs-6.col-sm-4.col-md-2.col-lg-2
			.thumbnail
				img.partnerPicture(src="/pictures/defistival.png" alt="Défistival")