template(name="footer")
	.navbar-fixed-bottom.footer.hidden-xs
		.container
			.row
				.col-xs-12.col-sm-6.col-md-6.col-lg6
					p.text-center
						a.btn.btn-eklore.marg-bot-10.marg-top-20(role="button" target="blank" href="https://www.facebook.com/eklorefrance/") Rejoignez la FETE sur Facebook
				.col-xs-12.col-sm-6.col-md-6.col-lg6
					p.text-center
						a.btn.btn-eklore.marg-bot-10.marg-top-20(role="button" target="blank" href="https://twitter.com/EKloreFrance/") Suivez la FETE sur Twitter