template(name="aboutFete")
	.page-header
		h1 {{_ "presentationFete"}}
	section
		p {{_ "feteDescription1"}}
		p {{_ "feteDescription2"}}
	section
		p {{_ "feteDescription3"}}
	blockquote
		p {{_ "quote1"}}
		footer {{_ "quote1Source"}}
	section
		p {{_ "feteDescription4"}}
	section
		p {{_ "feteDescription5"}}
	section
		p {{_ "feteDescription6"}}
	section
		p
			a.btn.btn-primary(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
			//if currentUser
				a.btn.btn-warning(role="button" href="{{pathFor 'myProfile'}}") {{_ "completeYourProfile"}}
			//else
				a.btn.btn-primary(role="button" href="{{pathFor 'myProfile'}}") {{_ "createYourProfile"}}