template(name="aboutFete")
	.container-fluid.blue2
		img.center-block.img-logo(src="/pictures/logo.png" alt="{{_ 'feteAcronym'}}")
		h3.text-center {{_ 'feteAcronym'}}
	.container
		h1.text-center.feteTitle.marg-bot-50.text-uppercase {{_ "presentationFete"}}
		section
			p.text-justify {{_ "fetePresentation1"}}
			p.text-justify {{_ "fetePresentation2"}}
			p.text-justify {{_ "fetePresentation3"}}
	.container-fluid.grey2
		.container
			section.marg-top-20
				p.text-justify {{_ "feteDescription1"}}
				p.text-justify {{_ "feteDescription2"}}
			section
				p.text-justify {{_ "feteDescription3"}}
			blockquote
				p {{_ "quote1"}}
				footer {{_ "quote1Source"}}
			section
				p.text-justify {{_ "feteDescription4"}}
			section
				p.text-justify {{_ "feteDescription5"}}
			section.marg-bot-20
				p.text-justify {{_ "feteDescription6"}}
	.container
		section
			p.text-center
				.row
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						p.text-center
							a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'seeUniverses'}}") {{_ "seeUniverses"}}
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						p.text-center
							if currentUser
								a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'myProfile'}}") {{_ "completeYourProfile"}}
							else
								a.btn.btn-eklore.marg-bot-20.marg-top-20(role="button" href="{{pathFor 'myProfile'}}") {{_ "createYourProfile"}}
		section
			p.text-justify {{_ "praticalInfos1"}}
			p.text-justify {{_ "praticalInfos2"}}
			p.text-justify {{_ "praticalInfos3"}}
			p.text-justify {{_ "praticalInfos4"}}
			blockquote
				p {{_ "quote4"}}
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.thumbnail
					img(src="/pictures/day_program.png" alt="Programme de la journée")
	.container-fluid.grey2
		.container
			h3.text-center.text-uppercase {{_ "ekloreCeremonie"}}
			p.text-justify {{_ "ekloreCeremonieText"}}
			ul
				li Mariette Rih, administratrice, salariée, élue FO, Renault
				li Frère Samuel Rouvillois, prêtre et philosophe
				li Bertrand Piccard, psychiatre, aéronaute et inventeur du solar impulse
				li Ryadh Sallem, champion humaniste et Dirigeant d’enterprises
			h3.text-center.text-uppercase {{_ "funMeetings"}}
			p.text-justify {{_ "funMeetingsText"}}