template(name="answerQuestions")
	if Template.subscriptionsReady
		if questionData
			with questionData
				.panel.panel-default
					.panel-heading
						h4 {{_ "question"}} : #{title}
					.panel-body
						each choices
							.radio
								label
									input(type="radio" name="choicesForQuestion" id="#{choiceId}" value="#{choiceId}")
									| #{label}
					.panel-footer
						button#validateChoice.btn-block.btn.btn-success(type="button") {{_ "validate"}}
		else
			.panel.panel-default
				.panel-body
					h4 {{_ "congratsNoMoreQuestions"}}
						a.btn.btn-primary(role="button" href="{{pathFor 'myProfile'}}") {{_ "returnToProfile"}}
	else