template(name="answerQuestions")
	if Template.subscriptionsReady
		if questionData
			with questionData
				.panel.panel-default
					.panel-heading
						p.panel-title {{_ "newQuestion"}}
					.panel-body
						p.lead #{title}
						if questionTypeRadio
							each choices
								.radio
									label
										input(type="radio" name="choicesForQuestion" id="#{choiceId}" value="#{choiceId}")
										| #{label}
						else
							.row
								.col-xs-1.col-sm-1.col-md-1.col-lg-1
									p 1
								.col-xs-8.col-sm-8.col-md-8.col-lg-8
									input#answerForRange(name="answerForRange" type="range" min="1" max="10" step="1" value="5")
								.col-xs-1.col-sm-1.col-md-1.col-lg-1
									p 10
					.panel-footer
						button#validateChoice.btn-block.btn.btn-success(type="button") {{_ "validate"}}
		else
			.panel.panel-default
				.panel-body
					h4 {{_ "congratsNoMoreQuestions"}}
						a.btn.btn-primary(role="button" href="{{pathFor 'myProfile'}}") {{_ "returnToProfile"}}
	else
		+spinner