template(name="signUp")
	.container-fluid
		.container
			h2.text-center.text-uppercase {{_ "signUpIn30Sec"}}
			form.createNewUser
				.form-group
					label(for="createPseudo") {{_ "pseudo"}}
					input#createPseudo.form-control(type="text" required)
				.form-group
					label(for="createEmail") {{_ "email"}}
					input#createEmail.form-control(type="email" required)
				.form-group
					label(for="password") {{_ "password"}}
					input#createPassword.form-control(type="password" required)
				button.btn.btn-success.btn-block(type="submit") {{_ "createAccount"}}