template(name="signIn")
	.container-fluid.grey2
		.container
			h2.text-center.text-uppercase {{_ "signIn"}}
			form.userLogIn
				.form-group
					label(for="email") {{_ "email"}}
					input#signInEmail.form-control(type="email" required)
				.form-group
					label(for="password") {{_ "password"}}
					input#singInPassword.form-control(type="password" required)
				button.btn.btn-success.btn-block(type="submit") {{_ "connect"}}